<a href="https://colab.research.google.com/github/MaloTheBigmalo/BridgeToSuccess/blob/master/TestPythonStat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import matplotlib.pyplot as plt
import numpy as np

In [3]:
mat1 = np.array([

                 [-76,2,-2,0,7],
                 [-3,12,14,15,3],
                 [6,-7,4,14,13]

])

In [4]:
mat1

array([[-76,   2,  -2,   0,   7],
       [ -3,  12,  14,  15,   3],
       [  6,  -7,   4,  14,  13]])

In [6]:
element1 = mat1[1,2] #élément ligne 2 et colonne 3 = 14
print(element1)

14

In [9]:
element2 = mat1[[1,2]] # Faire une liste pour afficher la sous matrice ligne 2 jusque 3
print(element2)

[[-3 12 14 15  3]
 [ 6 -7  4 14 13]]

In [28]:
idx1 = np.ix_([0,2],[2,4]) # np.ix_ est magique pour soustraire les lignes et les
element3 =mat1[idx1]      # colonnes d'une matrice
print(element3)            # attention idx1 est un tuple,la cross index doit être 1 dimension

[[-2  7]
 [ 4 13]]

In [12]:
mat1

array([[-76,   2,  -2,   0,   7],
       [ -3,  12,  14,  15,   3],
       [  6,  -7,   4,  14,  13]])

In [36]:
mask = mat1 > 0

In [37]:
type(mask)

numpy.ndarray

In [38]:
print(mask)

[[False  True False False  True]
 [False  True  True  True  True]
 [ True False  True  True  True]]

In [39]:
print(mat1[mask])

[ 2  7 12 14 15  3  6  4 14 13]

In [48]:
result = np.where(mat1 > 0, mat1, np.nan)
print(result)

[[nan  2. nan nan  7.]
 [nan 12. 14. 15.  3.]
 [ 6. nan  4. 14. 13.]]

In [47]:
mat1

array([[-76,   2,  -2,   0,   7],
       [ -3,  12,  14,  15,   3],
       [  6,  -7,   4,  14,  13]])

In [49]:
import os

In [50]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [54]:
!ls /content/drive/MyDrive/data

Auto.csv	 College.csv	  Khan_ytest.csv   Publication.csv
Auto.data	 Credit.csv	  Khan_ytrain.csv  Smarket.csv
Bikeshare.csv	 Default.csv	  NCI60data.npy    Wage.csv
Boston.csv	 Fund.csv	  NCI60labs.csv    Weekly.csv
BrainCancer.csv  Hitters.csv	  NYSE.csv
Caravan.csv	 Khan_xtest.csv   OJ.csv
Carseats.csv	 Khan_xtrain.csv  Portfolio.csv

In [55]:
import pandas as pd

In [58]:
Auto = pd.read_csv('/content/drive/MyDrive/data/Auto.csv')

In [59]:
Auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [60]:
Auto.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
387,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
388,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
389,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
390,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
391,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [61]:
Auto2 = pd.read_csv('/content/drive/MyDrive/data/Auto.data', delim_whitespace=True)

/tmp/ipython-input-1717124911.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  Auto2 = pd.read_csv('/content/drive/MyDrive/data/Auto.data', delim_whitespace=True)

In [62]:
Auto2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [63]:
Auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [65]:
Auto2['horsepower']

0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
       ...
392    86.00
393    52.00
394    84.00
395    79.00
396    82.00
Name: horsepower, Length: 397, dtype: object

In [66]:
np.unique(Auto2['horsepower' ])

array(['100.0', '102.0', '103.0', '105.0', '107.0', '108.0', '110.0',
       '112.0', '113.0', '115.0', '116.0', '120.0', '122.0', '125.0',
       '129.0', '130.0', '132.0', '133.0', '135.0', '137.0', '138.0',
       '139.0', '140.0', '142.0', '145.0', '148.0', '149.0', '150.0',
       '152.0', '153.0', '155.0', '158.0', '160.0', '165.0', '167.0',
       '170.0', '175.0', '180.0', '190.0', '193.0', '198.0', '200.0',
       '208.0', '210.0', '215.0', '220.0', '225.0', '230.0', '46.00',
       '48.00', '49.00', '52.00', '53.00', '54.00', '58.00', '60.00',
       '61.00', '62.00', '63.00', '64.00', '65.00', '66.00', '67.00',
       '68.00', '69.00', '70.00', '71.00', '72.00', '74.00', '75.00',
       '76.00', '77.00', '78.00', '79.00', '80.00', '81.00', '82.00',
       '83.00', '84.00', '85.00', '86.00', '87.00', '88.00', '89.00',
       '90.00', '91.00', '92.00', '93.00', '94.00', '95.00', '96.00',
       '97.00', '98.00', '?'], dtype=object)

In [71]:
Auto = pd.read_csv('/content/drive/MyDrive/data/Auto.data',
                    na_values=['?'],
                    sep=r"\s+")

In [72]:
Auto.shape # Auto.shape attribute tells us that the data has 397 observations or rows and 9 columns.

(397, 9)

In [74]:
num_rows = Auto.isna().any(axis=1).sum() # This count the rows with missing values and we print it nextly.
print(f"Number of rows with missing values: {num_rows}")

Number of rows with missing values: 5

In [76]:
# Count rows that contain only missing values
number = Auto.isna().all(axis=1).sum()
print(number)

0

In [77]:
# Get the actual rows with missing values
rows_with_missing_values = Auto[Auto.isna().any(axis=1)]
print(rows_with_missing_values)

      mpg  cylinders  displacement  horsepower  weight  acceleration  year  \
32   25.0          4          98.0         NaN  2046.0          19.0    71
126  21.0          6         200.0         NaN  2875.0          17.0    74
330  40.9          4          85.0         NaN  1835.0          17.3    80
336  23.6          4         140.0         NaN  2905.0          14.3    80
354  34.5          4         100.0         NaN  2320.0          15.8    81

     origin                  name
32        1            ford pinto
126       1         ford maverick
330       2  renault lecar deluxe
336       1    ford mustang cobra
354       2           renault 18i

In [78]:
#Since we only have 5 of the rows containing missing values, we can remove them using Auto.dropna methode
Auto_new = Auto.dropna()
Auto_new.shape

(392, 9)

In [79]:
# Override Auto
Auto = Auto_new

In [80]:
# use Auto.columns to check the variable name
Auto.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin', 'name'],
      dtype='object')

In [82]:
type(Auto['year'])

pandas.core.series.Series

In [83]:
idx_80 = Auto['year'] > 80
Auto[idx_80]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
338,27.2,4,135.0,84.0,2490.0,15.7,81,1,plymouth reliant
339,26.6,4,151.0,84.0,2635.0,16.4,81,1,buick skylark
340,25.8,4,156.0,92.0,2620.0,14.4,81,1,dodge aries wagon (sw)
341,23.5,6,173.0,110.0,2725.0,12.6,81,1,chevrolet citation
342,30.0,4,135.0,84.0,2385.0,12.9,81,1,plymouth reliant
343,39.1,4,79.0,58.0,1755.0,16.9,81,3,toyota starlet
344,39.0,4,86.0,64.0,1875.0,16.4,81,1,plymouth champ
345,35.1,4,81.0,60.0,1760.0,16.1,81,3,honda civic 1300
346,32.3,4,97.0,67.0,2065.0,17.8,81,3,subaru
347,37.0,4,85.0,65.0,1975.0,19.4,81,3,datsun 210 mpg
348,37.7,4,89.0,62.0,2050.0,17.3,81,3,toyota tercel
349,34.1,4,91.0,68.0,1985.0,16.0,81,3,mazda glc 4
350,34.7,4,105.0,63.0,2215.0,14.9,81,1,plymouth horizon 4
351,34.4,4,98.0,65.0,2045.0,16.2,81,1,ford escort 4w
352,29.9,4,98.0,65.0,2380.0,20.7,81,1,ford escort 2h
353,33.0,4,105.0,74.0,2190.0,14.2,81,2,volkswagen jetta
355,33.7,4,107.0,75.0,2210.0,14.4,81,3,honda prelude
356,32.4,4,108.0,75.0,2350.0,16.8,81,3,toyota corolla
357,32.9,4,119.0,100.0,2615.0,14.8,81,3,datsun 200sx
358,31.6,4,120.0,74.0,2635.0,18.3,81,3,mazda 626
359,28.1,4,141.0,80.0,3230.0,20.4,81,2,peugeot 505s turbo diesel
360,30.7,6,145.0,76.0,3160.0,19.6,81,2,volvo diesel
361,25.4,6,168.0,116.0,2900.0,12.6,81,3,toyota cressida
362,24.2,6,146.0,120.0,2930.0,13.8,81,3,datsun 810 maxima
363,22.4,6,231.0,110.0,3415.0,15.8,81,1,buick century
364,26.6,8,350.0,105.0,3725.0,19.0,81,1,oldsmobile cutlass ls
365,20.2,6,200.0,88.0,3060.0,17.1,81,1,ford granada gl
366,17.6,6,225.0,85.0,3465.0,16.6,81,1,chrysler lebaron salon
367,28.0,4,112.0,88.0,2605.0,19.6,82,1,chevrolet cavalier
368,27.0,4,112.0,88.0,2640.0,18.6,82,1,chevrolet cavalier wagon
369,34.0,4,112.0,88.0,2395.0,18.0,82,1,chevrolet cavalier 2-door
370,31.0,4,112.0,85.0,2575.0,16.2,82,1,pontiac j2000 se hatchback
371,29.0,4,135.0,84.0,2525.0,16.0,82,1,dodge aries se
372,27.0,4,151.0,90.0,2735.0,18.0,82,1,pontiac phoenix
373,24.0,4,140.0,92.0,2865.0,16.4,82,1,ford fairmont futura
374,36.0,4,105.0,74.0,1980.0,15.3,82,2,volkswagen rabbit l
375,37.0,4,91.0,68.0,2025.0,18.2,82,3,mazda glc custom l
376,31.0,4,91.0,68.0,1970.0,17.6,82,3,mazda glc custom
377,38.0,4,105.0,63.0,2125.0,14.7,82,1,plymouth horizon miser
378,36.0,4,98.0,70.0,2125.0,17.3,82,1,mercury lynx l
379,36.0,4,120.0,88.0,2160.0,14.5,82,3,nissan stanza xe
380,36.0,4,107.0,75.0,2205.0,14.5,82,3,honda accord
381,34.0,4,108.0,70.0,2245.0,16.9,82,3,toyota corolla
382,38.0,4,91.0,67.0,1965.0,15.0,82,3,honda civic
383,32.0,4,91.0,67.0,1965.0,15.7,82,3,honda civic (auto)
384,38.0,4,91.0,67.0,1995.0,16.2,82,3,datsun 310 gx
385,25.0,6,181.0,110.0,2945.0,16.4,82,1,buick century limited
386,38.0,6,262.0,85.0,3015.0,17.0,82,1,oldsmobile cutlass ciera (diesel)
387,26.0,4,156.0,92.0,2585.0,14.5,82,1,chrysler lebaron medallion
388,22.0,6,232.0,112.0,2835.0,14.7,82,1,ford granada l
389,32.0,4,144.0,96.0,2665.0,13.9,82,3,toyota celica gt
390,36.0,4,135.0,84.0,2370.0,13.0,82,1,dodge charger 2.2
391,27.0,4,151.0,90.0,2950.0,17.3,82,1,chevrolet camaro
392,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup
394,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage
395,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger
396,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10